.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg,#d8b906,#d8b906 38%,#0f81df);
}
.auth-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #d8b906;
  border-radius: 166px;
  border-color: #053d86;
  border-style: solid;
  box-shadow: 0 12px 0 1px rgba(7, 62, 179, 0.2);
}
.login-form,.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  max-width: 500px;
  padding: 20px;
  
  border-radius: 166px;
  border-color: #050505;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  color: #053d86;
}
input {
  width: 100%;
  max-width: 200px;
  padding: 4px;
  margin-bottom: 0.5rem 0; 
  border-radius: 166px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
button {
  width: 100%;
  max-width: 200px;
  padding: 4px;
  margin-bottom: 0.5rem 0; 
  border-radius: 166px;
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: #d8b906;
  color: #053d86;
  font-weight: 600;
  border: none;
  border-style: solid;
  box-shadow: 0 1px 0 1px rgba(7, 62, 179, 0.2);
  cursor: pointer;
}
.link-btn {
  background-color: transparent;
  color: #053d86;
  font-weight: 600;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: underline;
}